    <select id="mySelect1">
      <option value>Виберіть</option>
      <option value="kyiv">Київ</option>
      <option value="lviv">Львів</option>
      <option value="odesa">Одеса</option>
      <option value="ternopil">Тернопіль</option>
      <option value="charkiv">Харків</option>
      <option value="zhytomyr">Житомир</option>
    </select>