{{!-- <li class="orders-list-item" data-id="${res[i].id}">
    <span class="column-list-item">${res[i].id}</span>
    <span class="column-list-item">${res[i].city}</span>
    <span class="column-list-item">${res[i].client}</span>
    <span class="column-list-item">${res[i].postEntry.date}</span>
    <span class="column-list-item">${res[i].serviceItems.length}</span>
    <span class="column-list-item">${res[i].payment}</span>
</li> --}}

