.nativejs-select {
    /* width: 100%; */
    /* margin: 0 auto; */
    /* margin-top: 30px; */
    position: relative;
    /* border: 1px solid #1d1d1d;
  border-radius: 3px; */

    cursor: pointer;
    // height: 44px;
    /* outline: #7ca95c solid 1px; */
}



.form__city {
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    // height: 46px;
    width: 180px;
    margin-right: 15px;
}



.form__client {
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    // height: 46px;
    width: 220px;
    margin-right: 15px;
}

.form__service-item-model {
    position: relative;
    width: 180px;
}

.form__service-item-model::after {
    content: '';
    height: 20px;
    width: 2px;
    z-index: 3;

    position: absolute;
    right: -1px;
    top: 12px;

    background-color: #cfcfcf;
}

.form__service-item-serial {
    position: relative;
    width: 150px;
}

.form__service-item-serial::after {
    content: '';
    height: 20px;
    width: 2px;
    z-index: 3;

    position: absolute;
    right: -1px;
    top: 12px;

    background-color: #cfcfcf;
}

.form__service-item-service {
    position: relative;
    width: 420px;
}

.form__service-item-service::after {
    content: '';
    height: 20px;
    width: 2px;
    z-index: 3;

    position: absolute;
    right: -1px;
    top: 12px;

    background-color: #cfcfcf;
}

.form__service-item-complectation {
    position: relative;
    width: 210px;
}

.form__service-item-complectation::after {
    content: '';
    height: 20px;
    width: 2px;
    z-index: 3;

    position: absolute;
    right: -1px;
    top: 12px;

    background-color: #cfcfcf;
}

.nativejs-select__placeholder,
.nativejs-select__option {
    cursor: pointer;
    border: none;
    outline: none;
    text-align: left;
    //  background-color: #7ca95c; 
}



.nativejs-select__placeholder {

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 44px;
    // padding: 15px 15px;
    color: rgb(92, 92, 92);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #ffffff;

    /* font-weight: 400;
  font-size: 20px; */
    /* outline: #7ca95c solid 1px; */
    //  background-color: #7ca95c; 
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.0);
}

.form__top-box .nativejs-select__placeholder {
    height: 30px;
}

.nativejs-select__placeholder:hover {
    border: 1px solid var(--color-accent);
}

.nativejs-select__placeholder:after {
    content: '';
    display: none;
    /* block */
    width: 0;
    border-top: 6px solid #7ca95c;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.nativejs-select__placeholder img {
    margin-right: 5px;
}

.nativejs-select__placeholder_fixed {
    padding-right: 5px;
    color: #7ca95c;
    /* background-color: #7ca95c; */
}

.nativejs-select__dropdown {
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    transform: translateY(100%);
    left: -1px;
    right: 0;
    bottom: -1px;
    z-index: 5;
    display: none;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    background-color: #ffffff;
}

.nativejs-select__option {
    width: 100%;
    padding: 10px 15px;
    /* font-style: italic; */
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    display: flex;
    align-items: center;
    border-bottom: 1px solid transparent;
    /* border: 1px solid black; */
}

.nativejs-select__options {
    max-height: 200px;
overflow: auto;
}

.nativejs-select__option img {
    margin-right: 10px;
}

.nativejs-select__option:hover {
    border-bottom: 1px solid #7ca95c;
    background-color: rgb(196, 196, 196);
}

.nativejs-select_active {
    border-radius: 3px 3px 0 0;
}

.nativejs-select_active .nativejs-select__placeholder:after {
    border-top: none;
    border-bottom: 6px solid #7ca95c;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}

.nativejs-select_active .nativejs-select__dropdown {
    display: block;
    border-radius: 0 0 3px 3px;
}

.nativejs-select__search {
    padding: 3px;
}

.nativejs-select__search-inp {
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    /* background-color: #7ca95c; */
}

.nativejs-select__placeholder-value {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    color: black;
    /* background-color: #7ca95c; */
}